body, html{
    height: 50vh;
    width: 100%;
    box-sizing: border-box;
    margin: 0px;
}
.title{
    margin-bottom: 0px;
}
.recipe-content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.ready-in-servings{
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.recipe-image{
    max-height: 500px;
}

.instructions-list{
    white-space: pre-line;
}

.ingredients-instructions-container{
    display: flex;
    justify-content: center;
}

.ingredients-container, .instructions-container{
    flex-basis: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-container{
    display: flex;
    justify-content: center;
    column-gap: 5px;
    margin-top: 20px;
}
.run{
    margin-left: 10px;
}
.recipe-input-url{
    width: 400px;
}
@media print {
    .input-container{
      display:none;
    }
}