body, html{
    height: 50vh;
    width: 100%;
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}
*, *:before, *:after {
    box-sizing: border-box;
  }
.title{
    margin-bottom: 0px;
}
/*loading spinner */
.lds-dual-ring {
    display: none;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #004E89 transparent #004E89 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
.recipe-content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.ready-in-servings{
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.recipe-image{
    max-height: 400px;
}

.instructions-list{
    white-space: pre-line;
    list-style: none;
    margin-top: 0px;
    padding-left: 20px;
}

.ingredients-instructions-container{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.ingredients-container, .instructions-container{
    flex-basis: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ingredients-container{
    flex-basis: 400px;
}
.input-container{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    padding: 20px 0px;
    padding-left: 325px;
    background-color: #004E89;
}
.save-remove-container{
    padding: 20px;
    background-color: #004E89;
    border-radius: 15px;
    width: 350px;
}
.tools-header, .search-settings-heading{
    text-align: center;
    font-size: 24px;
    margin-top: 0px;
    color: white;
    letter-spacing: 1px;
}

.show-hide-toggle-tools, .show-hide-toggle-settings{
    margin-top: 8px;
    margin-right: 5px;
    font-weight: bold;
    color: black;
    width: 40px;
    display: none;
}

.search-subheading{
    color: white;
}
.search-subheading{
    margin: 12px 0px;
    letter-spacing: 1px;
}
.rank-search, .asc-desc{
    border-radius: 5px;
    font-size: 16px;
    letter-spacing: 1px;
}
label {
    color: white;
    font-size: 16px;
    letter-spacing: 1px;
}
.allergies-checkbox-container{
    display: flex;
    justify-content: flex-start;
    column-gap: 60px;
}

/*buttons*/
.run{
    margin-left: 10px;
    background-color: #21a12a;
    color: white;
    filter: drop-shadow(0px 0px 5px #115315);
}
.run, .save-pdf{
    padding: 12px;
    border-radius: 25px;
    border: none;
    width: 150px;
    font-size: 16px;
}
.save-pdf{
    color: white;
    background-color: #1194c7;
    filter: drop-shadow(0px 0px 5px #063a4e);
}
.run-save-button-container{
    display: flex;
    column-gap: 10px;
}
.save-remove-buttons, .edit-button-container {
    display: flex;
    column-gap: 10px;
}
.save-recipe, .remove-button, .edit-doc, .finish-editing, .id-search-button{
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 25px;
    border: none;
}
.id-search-button{
    width: 125px;
}
.edit-doc, .save-recipe{
    width: 100%;
}
.save-recipe, .edit-doc, .id-search-button{
    background-color: #21a12a;
    color: white;
    filter: drop-shadow(0px 0px 5px #115315);
}
.finish-editing, .remove-button{
    background-color: #a12121;
    color: white;
    filter: drop-shadow(0px 0px 5px #531111);
    width: 100%;
}
.recipe-template{
    width: 100%;
    padding: 20px 10px;
    margin-bottom: 10px;
    border-radius: 25px;
    border: none;
    color: white;
    background-color: #1194c7;
    filter: drop-shadow(0px 0px 5px #063a4e);
}
button:hover {
cursor: pointer;
transform: scale(1.048);
}
button {
    transition: 100ms ease-in-out;
    font-size: 14px;
    background-color: rgb(216, 216, 216);
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}
.buttons{
    display: flex;
    justify-content: center;
    column-gap: 4px;
    align-items: center;


}
.recipe-input-url{
    width: 600px;
    height: 25px;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    padding-left: 10px;
}

.ingredients-list, .instructions-list ul{
    text-align: left;
}
#hov *:hover {
    border: thin solid gray;
    border-radius: 10px;

}




/*recipe css*/
.recipe-local-storage:hover{
    color: blue;
    cursor: pointer;
}

.left-sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.right-container-recipes{
    flex-basis: 350px;
    flex-shrink: 0;
    background-color: #004E89;
    border-radius: 15px;
    padding: 20px;
    height: fit-content;
}

.remove-recipe-text-input{
    width: 350px;
}

.recipes-list{
    border: thin solid gray;
    flex-basis: auto;
    width: 350px;
    flex-shrink: 0;
    padding: 20px;
    margin-top: 0px;
    height: fit-content;
    border-radius: 10px;
    background-color: #f8f0AF;
}


.recipe-title{
    text-align: center;
    letter-spacing: 1px;
    margin-top: 0px;
}
.recipe-local-storage{
    text-align: center;
    list-style-position: inside;
}
.remove-recipe-container{
    display: flex;
    justify-content: center;
    padding: 20px 40px;
    column-gap: 10px;

}
.page-content{
    display: flex;
    padding: 0px 35px;
    justify-content: center;
    column-gap: 25px;
    margin-top: 25px;
}

/*CSS for recipe search features*/
.recipe-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    text-align: left;
    column-gap: 25px;
    margin: 10px 0px;
    width: 650px;
    align-items: center;
    transition: all 100ms ease-in-out;
}
.recipe-container:hover{
    filter: drop-shadow(0 0 5px gray);
    border: none;
    cursor: pointer;
    transform: scale(1.05);
}
.return-to-search{
    color: blue;
    margin-top: 22px;
}
.return-to-search:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.recipe-id{
    margin-bottom: 20px;
}
.show-more-recipes{
    color: blue;
    margin-bottom: 25px;
}
.show-more-recipes:hover{
    cursor: pointer;
    transform: scale(1.05);
}
input[type='checkbox']{
    height: 15px;
    width: 15px;
}
/*CSS for search using recipeID*/
.recipe-nutrition-image{
    width: 250px;
}
.id-search-container{
    text-align: center;
}
.id-search-input{
    width: 167px;
    margin-right: 10px;
    font-size: 16px;
}
/* Chrome, Safari, Edge, Opera hide arrow for number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.recipe-taste-container{
    width: 250px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    order: 1;
}
.taste-heading{
    margin: 0px;
}
#bitterness, #fattiness, #saltiness, #savoriness, #sourness, #sweetness{
    height: 20px;
    background-color: #004E89;
}
label[for='bitterness'], label[for='fattiness'], label[for='saltiness'], label[for='savoriness'], label[for='sourness'], label[for='sweetness']{
    color: black;
}
.bitterness-bar, .fattiness-bar, .saltiness-bar, .savoriness-bar, .sourness-bar, .sweetness-bar{
    background-color: lightgray;
    border: thin solid black;
}
.recipe-id-info-container{
    display: flex;
    column-gap: 20px;
}
/*excludes heading in print */
@media print {
    .input-container, .save-recipe, .remove-button, .nav-container, .recipes-list, .right-container-recipes, 
    .recipe-template, .upload-image, .return-to-search, .edit-button-container, .tools-header, .left-sidebar, .recipe-id{
      display:none;
    }
}

@media screen {
    @media screen {
        @media(max-width: 1350px){
            .page-content{
                flex-direction: column-reverse;
                align-items: center;
                padding: 0px;
            }
            body{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
    
            .recipes-list{
                width: 350px;
                align-self: flex-start;
            }
            .right-container-recipes{
                flex-basis: 75px;
                height: fit-content;
                order: 2;
                width: 710px;
                margin-bottom: 10px;
            }
            .search-settings-heading-container{
                text-align: center;
            }
            .search-settings-heading{
                margin-bottom: 0px;
            }
            .rank-by-container{
                display: flex;
                flex-direction: column;
                row-gap: 3px;
            }
            .search-settings-content{
                display: flex;
                justify-content: space-between;
            }

            .nav-container{
                padding: 10px;
            }
            .remove-recipe-container{
                padding: 20px 30px;
            }
            .input-container{
                width: 100%;
                flex-direction: column;
                row-gap: 15px;
                padding-left: 0px;
            }
            .recipe-input-url{
                width: 90%;
            }
            .run, .save-pdf, .edit-doc, .finish-editing{
                padding: 15px 10px;
            }
            .run{
                margin-left: 0px;
            }
            .left-sidebar{
                flex-direction: row;
                column-gap: 10px;
                order: 1;
            }
        }

    

    /* tablet settings*/
    @media (max-width: 1000px){

        .recipe-image{
            max-width: 650px;
        }
        .ingredients-container, .instructions-container{
            flex-basis: 350px;
        }

        .recipe-content-container{
            width: 90%;
        }

    }
    @media(max-width: 800px){
        .nav-container{
            flex-direction: column;
            padding: 20px;

        }
    
        .remove-recipe-container{
            padding: 15px 0px;
            width: 300px;
        }
}
        /*phone*/
    @media(max-width: 700px){
        .page-content{
            margin-top: 10px;
        }

        .recipe-image{
            width: inherit;
        }
        .ingredients-instructions-container{
            flex-direction: column;
        }
        .left-sidebar{
            flex-direction: column-reverse;
            row-gap: 10px;
        }
        button:hover{
            transform: none;
        }
        .run-save-button-container {
            width: 100%;
        }
        .right-container-recipes{
            height: 75px;
            width: 350px;
        }

        .recipes-list{
            margin-bottom: 0px;
        }

        .tools-container, .search-settings-heading-container{
            display: flex;
            column-gap: 76px;
            justify-content: flex-end;
        }
        .search-settings-heading-container{
            column-gap: 10px;
        }
        .rank-by-container{
            width: 150px;
        }
        .recipe-id-info-container{
            flex-direction: column;
            margin-top: 15px;
        }
        .show-hide-toggle-tools, .show-hide-toggle-settings{
            display: inline;
            cursor: pointer;
            letter-spacing: 1px;
            text-decoration: underline;
            text-underline-offset: 2px;
            color: white;
        }
        .save-remove-container{
            height: 75px;
        }
        .edit-button-container, .save-remove-buttons, .recipe-template, .search-settings-content, .id-search-container{
            display: none;
        }
        .expand{
            display: block;
            height: fit-content;
        }
        .instructions-list{
            padding-left: 0px;
        }
        .ingredients-list{
            margin-top: 0px;
        }
        .instructions-list ul, .ingredients-list{
            padding-left: 20px;
        }
        .ingredients-container, .instructions-container{
            flex-basis: auto;
            align-items: flex-start;
        }
        .ready-in-servings{
            width: inherit;
        }
        .instructions-header, .ingredients-header{
            align-self: center;
        }
        .buttons{
            flex-direction: column;
            row-gap: 6px;
        }
        button {
            width: 140px;
        }

        /*recipe search*/
        .recipe-container{
            width: 90%;
        }
        .recipe-search-image{
            width: 50%;
        }
    }
}
}