body, html{
    height: 50vh;
    width: 100%;
    box-sizing: border-box;
    margin: 0px;
}
.title{
    margin-bottom: 0px;
}
.recipe-content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.ready-in-servings{
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.recipe-image{
    max-height: 400px;
}

.instructions-list{
    white-space: pre-line;
    list-style: none;
    margin-top: 0px;
    padding-left: 20px;
}

.ingredients-instructions-container{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.ingredients-container, .instructions-container{
    flex-basis: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-container{
    display: flex;
    justify-content: center;
    column-gap: 5px;
    margin-top: 20px;
}
.run{
    margin-left: 10px;
}
.recipe-input-url{
    width: 400px;
}
.ingredients-list, .instructions-list ul{
    text-align: left;
}
#hov *:hover {
    border: thin solid gray;

}
@media print {
    .input-container{
      display:none;
    }
}

@media screen {
    /*phone*/
    @media(max-width: 700px){

        .recipe-content-container{
            width: 90%;
        }
        .recipe-image{
            width: inherit;
        }
        .ingredients-instructions-container{
            flex-direction: column;
        }

        .run{
            margin-left: 0px;
            flex-basis: 60px;
        }
        .instructions-list{
            padding-left: 0px;
        }
        .ingredients-list{
            margin-top: 0px;
        }
        .instructions-list ul, .ingredients-list{
            padding-left: 20px;
        }
        .ingredients-container, .instructions-container{
            flex-basis: auto;
            align-items: flex-start;
        }
        .ready-in-servings{
            width: inherit;
        }
        .instructions-header, .ingredients-header{
            align-self: center;
        }
    }

    /* tablet settings*/
    @media (max-width: 1000px){
        .input-container{
            width: 90%;
            flex-direction: column;
            row-gap: 15px;
        }
        .buttons{
            display: flex;
            justify-content: center;
            column-gap: 10px;
        }
        body{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .recipe-input-url{
            width: auto;
        }
        .ingredients-container, .instructions-container{
            flex-basis: 350px;
        }

    }
}